doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      h1.header-title Geek & Artist
      p.header-subtitle The blog of Oliver & Angela
    main
      block content
