ul.indexList {
    list-style-type: none;
    padding: 0 30px 0 30px;
}

a.indexLink {
    font-family: Cabin,sans-serif;
    font-size: 2em;
}

div.indexSummary {
    margin-top: 3px;
    margin-bottom: 30px;
}
